default/Elasticsearchconnected.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1753190208739,
    "description" : "Elasticsearch_connected",
    "identifier" : "Elasticsearchconnected",
    "lastModifiedTimestamp" : 1753190208739,
    "name" : "Elasticsearch_connected",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ab956783-fc37-3970-99eb-2d266e8d102e",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "23f1f19e-5c49-3eea-b2e9-98757cae7db6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea8983c4-81e6-3129-81d5-a8a504518020",
        "name" : "QueryDatabaseTableRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 5
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4a87c752-3be4-37a3-89e8-4630375df35b",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cd32ff14-19c2-3eff-97f4-e08e330c225e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original", "successful" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "92c80c4d-1c77-3cd4-838b-a2975b6c1ab5",
        "name" : "PutElasticsearchRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d3f6dc84-a55b-3667-bc32-78e064e699f9",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "343e8cd9-2e29-30d2-9843-e50ce2234295",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "retry", "errors" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "92c80c4d-1c77-3cd4-838b-a2975b6c1ab5",
        "name" : "PutElasticsearchRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 4
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "92c80c4d-1c77-3cd4-838b-a2975b6c1ab5",
        "name" : "PutElasticsearchRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4c2e398e-1d8a-3486-b4bb-8c379aff90f3",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ab956783-fc37-3970-99eb-2d266e8d102e",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ec124cae-7968-387e-86b9-223502070d58",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "910ddac1-81c9-3dda-ad30-a4fca02ba39d",
      "name" : "JsonTreeReader",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "da2d5183-af13-3b1e-9f40-63423fd97c4e",
      "name" : "postgres_elastic",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "org.postgresql.Driver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Validation-query" : "SELECT 1",
        "Database Connection URL" : "jdbc:postgresql://localhost:5433/metabase",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "admin",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "/opt/jdbc-drivers/postgresql-42.7.3.jar",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "972ea757-4e4e-3763-ad55-1535007ddcd3",
      "name" : "DBCPConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "dbcp-time-between-eviction-runs" : "-1",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "mysql-connector-java-8.0.33.jar",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-elasticsearch-client-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-elasticsearch-client-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.elasticsearch.ElasticSearchClientService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a3309bc7-3afe-3e0a-8881-1ef053a5c373",
      "name" : "ElasticSearchClientServiceImpl",
      "properties" : {
        "el-cs-suppress-nulls" : "always-suppress",
        "el-cs-strict-deprecation" : "false",
        "el-cs-http-hosts" : "http://localhost:9200",
        "el-cs-charset" : "UTF-8",
        "el-cs-send-meta-header" : "true",
        "el-cs-username" : "elastic",
        "el-cs-enable-compression" : "false",
        "el-cs-sniff-cluster-nodes" : "false",
        "el-cs-sniffer-interval" : "5 mins",
        "el-cs-sniffer-failure-delay" : "1 min",
        "el-cs-node-selector" : "ANY",
        "authorization-scheme" : "NONE",
        "el-cs-sniff-failure" : "false",
        "el-cs-sniffer-request-timeout" : "1 sec",
        "el-cs-connect-timeout" : "5000",
        "el-cs-socket-timeout" : "60000"
      },
      "propertyDescriptors" : {
        "el-cs-suppress-nulls" : {
          "displayName" : "Suppress Null/Empty Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-suppress-nulls",
          "sensitive" : false
        },
        "el-cs-strict-deprecation" : {
          "displayName" : "Strict Deprecation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-strict-deprecation",
          "sensitive" : false
        },
        "el-cs-http-hosts" : {
          "displayName" : "HTTP Hosts",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-http-hosts",
          "sensitive" : false
        },
        "el-cs-run-as-user" : {
          "displayName" : "Run As User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-run-as-user",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "el-cs-charset" : {
          "displayName" : "Charset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-charset",
          "sensitive" : false
        },
        "jwt-shared-secret" : {
          "displayName" : "JWT Shared Secret",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "jwt-shared-secret",
          "sensitive" : true
        },
        "el-cs-send-meta-header" : {
          "displayName" : "Send Meta Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-send-meta-header",
          "sensitive" : false
        },
        "el-cs-username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-username",
          "sensitive" : false
        },
        "el-cs-enable-compression" : {
          "displayName" : "Enable Compression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-enable-compression",
          "sensitive" : false
        },
        "el-cs-sniff-cluster-nodes" : {
          "displayName" : "Sniff Cluster Nodes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-sniff-cluster-nodes",
          "sensitive" : false
        },
        "api-key" : {
          "displayName" : "API Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "api-key",
          "sensitive" : true
        },
        "el-cs-node-selector" : {
          "displayName" : "Node Selector",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-node-selector",
          "sensitive" : false
        },
        "el-cs-sniff-failure" : {
          "displayName" : "Sniff on Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-sniff-failure",
          "sensitive" : false
        },
        "el-cs-sniffer-request-timeout" : {
          "displayName" : "Sniffer Request Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-sniffer-request-timeout",
          "sensitive" : false
        },
        "el-cs-ssl-context-service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "el-cs-ssl-context-service",
          "sensitive" : false
        },
        "el-cs-oauth2-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "el-cs-oauth2-token-provider",
          "sensitive" : false
        },
        "el-cs-path-prefix" : {
          "displayName" : "Path Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-path-prefix",
          "sensitive" : false
        },
        "api-key-id" : {
          "displayName" : "API Key ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "api-key-id",
          "sensitive" : false
        },
        "el-cs-sniffer-interval" : {
          "displayName" : "Sniffer Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-sniffer-interval",
          "sensitive" : false
        },
        "el-cs-sniffer-failure-delay" : {
          "displayName" : "Sniffer Failure Delay",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-sniffer-failure-delay",
          "sensitive" : false
        },
        "el-cs-password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-password",
          "sensitive" : true
        },
        "authorization-scheme" : {
          "displayName" : "Authorization Scheme",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-scheme",
          "sensitive" : false
        },
        "el-cs-connect-timeout" : {
          "displayName" : "Connect timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-connect-timeout",
          "sensitive" : false
        },
        "el-cs-socket-timeout" : {
          "displayName" : "Read timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-socket-timeout",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 584.0,
      "identifier" : "b4aa458e-2ea1-31f3-bec7-9b099bff0ab7",
      "label" : "Connecting Nifi database to Elasticsearch\n",
      "position" : {
        "x" : -1376.0,
        "y" : -448.0
      },
      "style" : {
        "background-color" : "#d6edff",
        "font-size" : "20px"
      },
      "width" : 1088.0,
      "zIndex" : 1
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "Elastic_git",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4a87c752-3be4-37a3-89e8-4630375df35b",
      "maxBackoffPeriod" : "1 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -664.0,
        "y" : -64.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "success" ],
      "retryCount" : 3,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-elasticsearch-restapi-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "92c80c4d-1c77-3cd4-838b-a2975b6c1ab5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutElasticsearchRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1208.0,
        "y" : -64.0
      },
      "properties" : {
        "Max JSON Field String Length" : "20 MB",
        "put-es-record-batch-size" : "100",
        "put-es-record-index-op" : "index",
        "put-es-output-error-responses" : "false",
        "el-rest-client-service" : "a3309bc7-3afe-3e0a-8881-1ef053a5c373",
        "put-es-record-log-error-responses" : "false",
        "put-es-not_found-is-error" : "true",
        "put-es-record-error-writer" : "ec124cae-7968-387e-86b9-223502070d58",
        "put-es-record-retain-at-timestamp-field" : "false",
        "el-rest-fetch-index" : "metabase",
        "put-es-record-retain-id-field" : "false",
        "put-es-record-reader" : "910ddac1-81c9-3dda-ad30-a4fca02ba39d",
        "put-es-record-bulk-error-groups" : "false"
      },
      "propertyDescriptors" : {
        "Max JSON Field String Length" : {
          "displayName" : "Max JSON Field String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max JSON Field String Length",
          "sensitive" : false
        },
        "put-es-record-at-timestamp-time-format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-at-timestamp-time-format",
          "sensitive" : false
        },
        "put-es-record-batch-size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-batch-size",
          "sensitive" : false
        },
        "put-es-record-scripted-upsert-path" : {
          "displayName" : "Scripted Upsert Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-scripted-upsert-path",
          "sensitive" : false
        },
        "put-es-record-index-op" : {
          "displayName" : "Index Operation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-index-op",
          "sensitive" : false
        },
        "put-es-record-type-record-path" : {
          "displayName" : "Type Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-type-record-path",
          "sensitive" : false
        },
        "put-es-record-at-timestamp-date-format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-at-timestamp-date-format",
          "sensitive" : false
        },
        "put-es-output-error-responses" : {
          "displayName" : "Output Error Responses",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-output-error-responses",
          "sensitive" : false
        },
        "put-es-record-dynamic-templates-path" : {
          "displayName" : "Dynamic Templates Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-dynamic-templates-path",
          "sensitive" : false
        },
        "el-rest-client-service" : {
          "displayName" : "Client Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "el-rest-client-service",
          "sensitive" : false
        },
        "put-es-record-log-error-responses" : {
          "displayName" : "Log Error Responses",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-log-error-responses",
          "sensitive" : false
        },
        "put-es-not_found-is-error" : {
          "displayName" : "Treat \"Not Found\" as Success",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-not_found-is-error",
          "sensitive" : false
        },
        "put-es-record-error-writer" : {
          "displayName" : "Result Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "put-es-record-error-writer",
          "sensitive" : false
        },
        "put-es-record-at-timestamp-timestamp-format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-at-timestamp-timestamp-format",
          "sensitive" : false
        },
        "put-es-record-id-path" : {
          "displayName" : "ID Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-id-path",
          "sensitive" : false
        },
        "put-es-record-retain-at-timestamp-field" : {
          "displayName" : "Retain @timestamp (Record Path)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-retain-at-timestamp-field",
          "sensitive" : false
        },
        "el-rest-fetch-index" : {
          "displayName" : "Index",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-rest-fetch-index",
          "sensitive" : false
        },
        "put-es-record-index-op-path" : {
          "displayName" : "Index Operation Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-index-op-path",
          "sensitive" : false
        },
        "put-es-record-retain-id-field" : {
          "displayName" : "Retain ID (Record Path)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-retain-id-field",
          "sensitive" : false
        },
        "put-es-record-script-path" : {
          "displayName" : "Script Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-script-path",
          "sensitive" : false
        },
        "el-rest-type" : {
          "displayName" : "Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-rest-type",
          "sensitive" : false
        },
        "put-es-record-at-timestamp" : {
          "displayName" : "@timestamp Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-at-timestamp",
          "sensitive" : false
        },
        "put-es-record-index-record-path" : {
          "displayName" : "Index Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-index-record-path",
          "sensitive" : false
        },
        "put-es-record-at-timestamp-path" : {
          "displayName" : "@timestamp Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-at-timestamp-path",
          "sensitive" : false
        },
        "put-es-record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "put-es-record-reader",
          "sensitive" : false
        },
        "put-es-record-bulk-error-groups" : {
          "displayName" : "Group Results by Bulk Error Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-es-record-bulk-error-groups",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ab956783-fc37-3970-99eb-2d266e8d102e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1208.0,
        "y" : -232.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ea8983c4-81e6-3129-81d5-a8a504518020",
      "maxBackoffPeriod" : "10 mins",
      "name" : "QueryDatabaseTableRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1208.0,
        "y" : -392.0
      },
      "properties" : {
        "Table Name" : "metabase_field",
        "db-fetch-db-type" : "Generic",
        "dbf-default-precision" : "10",
        "qdbtr-record-writer" : "ec124cae-7968-387e-86b9-223502070d58",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "da2d5183-af13-3b1e-9f40-63423fd97c4e",
        "dbf-user-logical-types" : "false",
        "qdbt-output-batch-size" : "0",
        "qdbt-max-rows" : "0",
        "qdbt-max-frags" : "0",
        "dbf-default-scale" : "0",
        "initial-load-strategy" : "Start at Beginning",
        "Fetch Size" : "0",
        "qdbtr-normalize" : "false"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "db-fetch-db-type" : {
          "displayName" : "Database Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "db-fetch-db-type",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Set Auto Commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Set Auto Commit",
          "sensitive" : false
        },
        "qdbtr-record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "qdbtr-record-writer",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Maximum-value Columns" : {
          "displayName" : "Maximum-value Columns",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum-value Columns",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "qdbt-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "qdbt-output-batch-size",
          "sensitive" : false
        },
        "qdbt-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "qdbt-max-rows",
          "sensitive" : false
        },
        "qdbt-max-frags" : {
          "displayName" : "Maximum Number of Fragments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "qdbt-max-frags",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "initial-load-strategy" : {
          "displayName" : "Initial Load Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "initial-load-strategy",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "db-fetch-sql-query" : {
          "displayName" : "Custom Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "db-fetch-sql-query",
          "sensitive" : false
        },
        "qdbtr-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "qdbtr-normalize",
          "sensitive" : false
        },
        "Columns to Return" : {
          "displayName" : "Columns to Return",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Columns to Return",
          "sensitive" : false
        },
        "db-fetch-where-clause" : {
          "displayName" : "Additional WHERE clause",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "db-fetch-where-clause",
          "sensitive" : false
        },
        "Database Dialect Service" : {
          "displayName" : "Database Dialect Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Dialect Service",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryDatabaseTableRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d3f6dc84-a55b-3667-bc32-78e064e699f9",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -656.0,
        "y" : -224.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "5fb58497-4dd3-45f6-ab9c-f7b599749efb",
    "flowIdentifier" : "Elasticsearchconnected",
    "timestamp" : 0
  }
}